body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  width: 100%;
}

.container {
  display: flex;
  max-width: 800px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.left {
  flex: 1;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

video {
  width: 100%;
  max-width: 600px;
}

.right {
  flex: 1;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#status {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 100px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.6;
}

#mediaElement {
    margin-top: 20px;
    width: 100%;
    max-height: 300px;
}

p#status {
  margin: 0;
  color: #333;
  width: 400px; /* 固定宽度 */
  height: 250px; /* 固定高度 */
  overflow: auto; /* 添加滚动条以容纳文本溢出 */
}